<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Faux Leather</h2>
      <p> Choose from our brightly colored fall style slings!</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-md-4 text-center" id="right">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Black Mesh</h2>
      <p>Or stick with a sleek traditional black, made in mesh to keep you fresh.</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <!-- <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>LESS is More</h2>
      <p>Improved support for mixins make the new Bootstrap 3 easier to customize.</p>
      <p><a class="btn btn-default" href="#">View details »</a></p>
    </div> -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="http://placehold.it/512">
    <h2 class="featurette-heading">Shower With Your Sling On. <span class="text-muted"></span></h2>
    <p class="lead">The faux leather material is 100% water proof so you don't have to worry about dangling your freshly operated on arm in the shower.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-left" src="http://placehold.it/512">
    <h2 class="featurette-heading">Easy To Dry. <span class="text-muted">Drains Itself.</span></h2>
    <p class="lead">Just wipe down the sides of your sling with a towel and you're ready to go. The holes in the bottom of the sling allow water to drain out as it accumulates. </p> 
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="http://placehold.it/512">
    <h2 class="featurette-heading">Fashionable! <span class="text-muted">Brightly Colored or Incognito</span></h2>
    <p class="lead">Choose from our brightly colored fall style slings or our easy to miss black mesh. </p>
  </div>

  <hr class="featurette-divider-last">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pullright"><a href="#">Back to top</a></p>
  </footer>

</div>